.u-section-1 .u-sheet-1 {
  min-height: 370px;
}

.u-section-1 .u-text-1 {
  width: 598px;
  margin: 49px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 598px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-3 {
  width: 598px;
  margin: 40px auto 58px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 446px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 376px;
  margin: 30px auto 41px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 356px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 224px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 280px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 160px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 5px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 0 auto;
  padding: 18px 145px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 160px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 0 auto;
  padding: 18px 101px 18px 100px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 160px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 0 auto;
  padding: 18px 95px 18px 94px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 132px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 132px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 132px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 610px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-text-1 {
  margin: 60px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}.u-section-5 .u-sheet-1 {
  min-height: 305px;
}

.u-section-5 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 45px auto 0;
}

.u-section-5 .u-text-1 {
  margin: 52px auto 0 144px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: -47px 164px 0 auto;
  padding: 10px 25px 11px 24px;
}

.u-section-5 .u-line-2 {
  width: 912px;
  height: 3px;
  margin: 55px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 64px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 86px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-5 .u-line-1 {
    width: 720px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 45px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 27px;
    margin-right: auto;
  }

  .u-section-5 .u-line-2 {
    margin-top: 52px;
    transform-origin: center top 0px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-line-1 {
    width: 540px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-line-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 728px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 60px;
}.u-section-7 .u-sheet-1 {
  min-height: 665px;
}

.u-section-7 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 30px auto 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 675px;
  margin: 59px auto 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 120px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 0 auto;
  padding: 21px 68px 21px 67px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 120px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 27px;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 21px 68px 21px 67px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 121px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 27px;
}

.u-section-7 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 0 auto;
  padding: 21px 68px 21px 67px;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 121px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 27px;
}

.u-section-7 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 21px 99px 22px 98px;
}

.u-section-7 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
  background-image: none;
  margin: 65px auto 60px;
  padding: 10px 25px 11px 24px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-7 .u-line-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-7 .u-line-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-line-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }
}background-color: #000;